@import "./_variables.scss"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

.hidden {
  display: none;
}
.dropdown-toggle::after {
  all: unset;
}
#menu {
  display: inline-block;
}
.pop-container,
.new-container,
.ending-container {
  width: 100%;
  display: flex;
  max-height: 70vh;
  overflow-x: scroll;
  padding-left: 10vw;
}
.listing {
  min-width: 80%;
  margin-inline: 1rem;
  max-height: 70vh;
  overflow: hidden;
}
.bids {
  font-weight: bold;
}
.p-img {
  max-height: 30vh;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
main {
  min-height: calc(100vh - 177px);
}
.profile-picture, .profile-image {
  aspect-ratio: 1/1;
  object-fit: cover;
    &.profile-picture{
      width: 60%;
    }
}
.carousel-container {
  position: relative;
}
.tags {
  position: absolute;
  top: 12px;
  z-index: 100;
}
.make-bid {
  width: 90%;
}
.overlay{
  background-color: rgba(0, 0, 0, .4);
}
.w-10{
  width: 15%;
  z-index: 100;
}
.unset{
  all: unset;
}
.image-height-fix{
  min-height: 30vh;
}

@include media-breakpoint-up(sm){
  .listing{
    min-width: 50%;
  }
  .new-listing-button{
    width: 10%;
    left: 89% !important;
  }
  .pop-container,
  .new-container,
  .ending-container{
    padding-left: 1rem;
  }
}
@include media-breakpoint-up(md){
  .listing{
    min-width:35%;
  }
  .profile-picture{
    width:50% !important;
  }
}
@include media-breakpoint-up(lg){
  .listing{
    min-width: 30%;
  }
  .profile-picture{
    width:30% !important;
  }
  .profile-dropdown{
    transform: translate(75px, 75px) !important;
  }
  .new-listing-button{
    width: 5%;
    left: 94% !important;
  }
}
@include media-breakpoint-up(xl){
  .listing{
    min-width: 20%;
  }
  .profile-picture{
    width:20% !important;
  }
  .profile-dropdown{
    transform: translate(120px, 60px) !important;
  }
}
@include media-breakpoint-up(xxl){
  main{
    width: 70%;
    margin: 0 auto;
  }
  .new-listing-button{
    width: 5%;
    left: 79% !important;
  }
}