@import "./_variables.scss"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

.hidden {
  display: none;
}
.dropdown-toggle::after {
  all: unset;
}
#menu {
  display: inline-block;
}
